Fuzzy Matching on Names

In [250]:
from difflib import SequenceMatcher

In [123]:
col = ['name1', 'name2', 'score']
name_map = pd.DataFrame(columns = col)

for i in names:
    for j in names:
        m = SequenceMatcher(None, i, j)
        if m.ratio() > 0.62 and m.ratio() < 1.0 and i[0:2] == j[0:2]:

            name_map = name_map.append({'name1': i, 'name2': j, 'score': m.ratio()}, ignore_index=True)

In [126]:
name_map.to_csv('name_map.csv')

# after this I'm going to manually inspect the names

In [366]:
# rereading inspected names
final_name_map = pd.read_csv('name_map_final.csv', encoding = 'ISO-8859-1')

In [367]:
len(df)

70848

In [368]:
df = pd.merge(df, final_name_map, left_on = 'Speaker', right_on = 'name', how = 'left')

In [369]:
for i in range(0, len(df)):
    if ',' in df['Speaker'][i]:
        print(i)
        print(df['Speaker'][i].split(',')[0])
        df['Speaker'][i] = df['Speaker'][i].split(',')[0]
    elif ':' in df['Speaker'][i]:
        print(i)
        df['Speaker'][i] = df['Speaker'][i].split(':')[0]
        
    elif ']' in df['Speaker'][i]:
        print(i)
        df['Speaker'][i] = df['Speaker'][i].split(']')[1]

In [370]:
df.standardized_name.fillna(df.Speaker, inplace=True)

In [371]:
df.groupby(['standardized_name'])#.count().head(20)

,index,Company,Content,Date,Section,SentimentScore,Speaker,Type,Month,Year,Day,Date_adj,name
standardized_name,,,,,,,,,,,,,
A. Sasa Zorovic,45,45,45,45,45,45,45,45,45,45,45,45,0
Aaron Kessler,32,32,32,32,32,32,32,32,32,32,32,32,0
Aaron M. Schwartz,67,67,67,67,67,67,67,67,67,67,67,67,25
Aaron Teitelbaum,11,11,11,11,11,11,11,11,11,11,11,11,0
Aaron Turner,2,2,2,2,2,2,2,2,2,2,2,2,0
Aart J. de Geus,879,879,879,879,879,879,879,879,879,879,879,879,316
Abhey R. Lamba,142,142,142,142,142,142,142,142,142,142,142,142,90
Adam F. Dahms,8,8,8,8,8,8,8,8,8,8,8,8,0
Adam Frisch,65,65,65,65,65,65,65,65,65,65,65,65,0
Adam Hathaway Holt,409,409,409,409,409,409,409,409,409,409,409,409,408
Adam Krejcik,1,1,1,1,1,1,1,1,1,1,1,1,0
Adam Noble,5,5,5,5,5,5,5,5,5,5,5,5,0
Adam Noily,1,1,1,1,1,1,1,1,1,1,1,1,0
Ajaykumar Kasargod,2,2,2,2,2,2,2,2,2,2,2,2,1
Ajei S. Gopal,94,94,94,94,94,94,94,94,94,94,94,94,0
Alex J. Zukin,21,21,21,21,21,21,21,21,21,21,21,21,5
Alex Kramm,57,57,57,57,57,57,57,57,57,57,57,57,0
Alex Kurtz,1,1,1,1,1,1,1,1,1,1,1,1,0
Alex Pham,2,2,2,2,2,2,2,2,2,2,2,2,0
Alexander Draper,26,26,26,26,26,26,26,26,26,26,26,26,0

In [377]:
df[df['standardized_name'].str.contains(':')]['standardized_name'].unique()

array([], dtype=object)

In [378]:
df.to_csv('earningsCallAll_stdName.csv')